.divButton {
    align-items: center;
    padding: 10px;
}

.div-data {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.form-update {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #2E2D4E;
    margin-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 30%;
    height: 1%;
    gap: 10px;

    & p {
        color: #fff;
        font-weight: bold;
    }

    & button {
        border-radius: 30px;
        background-color: #8B8AE1;
        height: 40px;
        width: 90%;
        border: none;
        font-weight: bold;
        cursor: pointer;
        color: #FFE4C4;
        font-size: 15px;
    }

    & button:hover {
        opacity: 0.8;
    }

    & .input-update {
        border: 1px solid #48456C;
        border-radius: 30px;
        height: 40px;
        width: 90%;
        background-color: #363653;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

.divPasswordUpdate {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
}

.inputPasswordUpdate {
    width: 100%;
}

.imgPasswordUpdate {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translateX(1350%);
}