.divPasswordConfirm {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputPasswordConfirm {
    width: 100%;
}

.imgPasswordConfirm {
    transform: translateX(1550%) translateY(-140%);
}

label{
    color: white;
    font-weight: bold;
}