.divPassword {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.inputPassword {
    width: 100%;
}

.imgPassword {
    position: absolute;
    transform: translateX(650%) translateY(10%);
    width: 45px;
    height: 40px;
    background-color: transparent;
}

#forgetPassword {
    color: #ffffff;
}
#linkForgetPassword {
    color: #ADD8E6;
    font-weight: bold;
}